.Mymaniclass{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
#btn, #clickBtn{
    padding: 5px 5px;
    margin: 3px;
    border-radius: 4px;
    border-color: white;
}

#clickBtn{
    padding: 8px 8px;
}

.night{
    background-color: rgb(1, 1, 1);
    color: white;
}
.day{
    background-color: white;
    color: black;
}